/* WeatherForecast.css */

/* WeatherForecast.css */
.weather-forecast-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.unit-toggle {
  margin-bottom: 20px;
  margin-right: 18px;
  text-align: right;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: calc(100% - 150px);
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
}

.search-bar button {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #45a049;
}
.error {
  color: #f44336;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  background-color: #ddd;
  color: #333;
  border: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}

.tabs button.active-tab {
  background-color: #4caf50;
  color: #fff;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .search-bar input {
    width: calc(100% - 60px);
  }
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .search-bar {
    flex-direction: column; /* Change flex direction to column for smaller screens */
    align-items: flex-start; /* Align items to start */
  }

  .search-bar input[type="text"] {
    width: 100%; /* Full width for input on smaller screens */
    margin-bottom: 10px; /* Add margin bottom to separate input and button */
  }

  .search-bar button {
    width: 100%; /* Full width for button on smaller screens */
    margin-left: 0; /* Remove margin for button on smaller screens */
  }

  .unit-toggle {
    text-align: center; /* Center align toggle button on smaller screens */
  }
}

@media only screen and (max-width: 768px) {
  .search-bar input[type="text"] {
    width: calc(100% - 25px); /* Adjust width for smaller screens */
  }

  .search-bar button {
    padding: 8px; /* Adjust button padding for smaller screens */
    font-size: 14px; /* Adjust button font size for smaller screens */
  }
}
